 *{
  margin: 0;
  padding: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@100..900&family=Lexend+Exa:wght@100..900&family=Lexend:wght@100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');



 :root {
  font-family: "Lexend", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}
body{
  background-color: #111;
  font-size: small;
}

